html,
body {
    margin: 0;
    padding: 0;
}

body {
    /* width: 100vw;
    height: 100vh; */
    font-family: 'Open sans';
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(129, 129, 131)
}

body>* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.error {
    color: red;
    font-size: 0.875em;
    display: none;
}


textarea {
    width: -webkit-fill-available;
}

.wrapper {
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 700px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 25px 70px rgba(0, 0, 0, .05);
    /*overflow: hidden;*/
}

h1.title {
    padding: 15px 0;
    margin-left: 25px;
    font-weight: normal;
    color: rgba(57, 50, 173, 1)
}

.form {
    width: 700px;
}

.myform {
    background: #F4F5F7;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px
}

.form-header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.form-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(57, 50, 173, 1);
    font-size: 1.5rem;
    font-weight: bold;

}

#close-form {
    cursor: pointer;   
    font-size: 1.5rem;

}

.myform label, #type-select {
    display: block;
    color: #A8AAC5;
    font-weight: bold;
    font-size: .8rem;
    margin-bottom: 10px;
}

.myform input, .type-select, .myform textarea{
    border: 0;
    outline: 0;
    height: 50px;
    background: #FFF;
    width: 100%;
    border-radius: 5px;
    color: #155BDA;
    font-weight: 700;
    font-size: .9rem;
    text-indent: 15px;
    border: 2px solid transparent;
    transition: border 250ms;
}

.myform input:focus, .type-select:focus, .myform textarea:focus {
    border: 2px solid rgba(57, 50, 173, 1);
}

.full-width {
    grid-column: -1 / 1;
}

.buttons-box {
    display: flex;
    justify-content: space-around;
}

.button {
    grid-column: -1 / 1;
    display: flex;
    justify-content: center;
}

.button button {
    border: 0;
    outline: 0;
    width: 120px;
    height: 50px;
    border-radius: 50px;
    color: #FFF;
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;
    background: linear-gradient(356deg, rgba(57, 50, 173, 1) 0%, rgba(87, 50, 173, 1) 100%);
}

.button button:hover {
    background: rgba(57, 50, 173, 1);
}

